50_contigs_dists.ram.csv filter=lfs diff=lfs merge=lfs -text
burst_vana_calibrate.k_32.csv filter=lfs diff=lfs merge=lfs -text
megares_calibration.csv filter=lfs diff=lfs merge=lfs -text
megares_probe_calibration.csv filter=lfs diff=lfs merge=lfs -text
vana_calibrate.csv filter=lfs diff=lfs merge=lfs -text
vana_dists.lev.csv filter=lfs diff=lfs merge=lfs -text
vana_dists.ram.csv filter=lfs diff=lfs merge=lfs -text
50_contigs_dists.lev.csv filter=lfs diff=lfs merge=lfs -text
5_contigs_calibrate.csv filter=lfs diff=lfs merge=lfs -text
burst_vana_calibrate.csv filter=lfs diff=lfs merge=lfs -text
